@font-face {
  font-family: 'mainFont';
  src: url(/font/NotoSansJP-Medium.otf);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.3em;
  font-family: mainFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
